# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database and user uploads (don't commit files/indices)
data/uploads/*
!data/uploads/.gitkeep
data/vectors/*
!data/vectors/.gitkeep
data/*.json
data/*.pickle
data/*.faiss
data/*.pkl

# Logs
logs/*
!logs/.gitkeep

# Environment variables
.env
